* {
    box-sizing: border-box;
   
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Set a fallback font */
}

.header {
    background-color: rgb(50, 50, 80);
    color: white;
    padding: 20px;
    text-align: center;
}

.name {
    margin: 0;
}

.Job-name {
    color: rgb(152, 152, 152);
    margin: 5px 0;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.phone, .email, .location {
    color: rgb(152, 152, 152);
    margin: 0 10px;
}

.sub-body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.content {
    flex: 1;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 50%;
    
}

@media screen and (min-width: 950px) {
    .sub-body {
        flex-direction: column;
        max-height: 100vh;
    }

    .content {
        width: 50%;
        margin: 0 10px 20px 0;
    }
}

@media screen and (max-width: 950px) {
    .sub-body {
        width: 90%;
        margin: 20px auto;
        flex-direction: row;
    }

    .content {
        width: 100%;
        margin-right: 0;
    }
    .contact{
        flex-direction: column;
    }
}
@media screen and (max-height:850px){
    .sub-body{
    max-height: 100%;
}
}